{% extends "base_auth.html" %}
{% load static %}
{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="auth-box">
    <h2 class="text-center">Forgot Password?</h2>
    <form method="post" action="{% url 'forgot_password' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="emailInput" class="form-label">Email</label>
            <input type="email" class="form-control" id="emailInput" name="email" placeholder="Enter email" required>
        </div>
        <button type="submit" class="btn btn-dark w-100 py-2">Submit</button>
    </form>
    <div class="text-center mt-3">
        <a href="{% url 'register' %}" class="d-block">Create A New Account</a>
        <a href="{% url 'login' %}" class="d-block mt-2">Back To Login</a>
    </div>
</div>
{% endblock %}